.action-button-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ebebed;
    outline: none;
    color: #aeacb9;
    padding: .5em;
    cursor: pointer;
}

.action-button-container-1:not(:first-of-type) {
    margin-left: .5em;
}

/* .action-button-container-1:hover{
    border-color: #d3d2d9;
    color: black;
} */