.info-form-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
}

.info-form-container-2 {
    display: flex;
    flex-direction: column;
    width: 40vw;
    border-radius: 5px;
    background-color: white;
    padding: .75em 1em;
}

.info-form-header {
    display: flex;
    flex-direction: row;
    font-size: 2em;
}

.info-form-close {
    display: flex;
    cursor: pointer;

    color: #979797;
}

.info-form-title {
    display: flex;
    flex: 1;
}

.info-item-container-1 {
    display: flex;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin-top: 1.3rem;
}

.info-actions-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 2rem;
}