.search-page-container-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-back-to-collection {
    display: flex;
}

.search-title {
    display: flex;
    font-size: 2em;
    font-weight: bold;
    margin-top: 2rem;
}

.search-input {
    display: flex;
    border-radius: 5px;
    border: 1px solid #ebebed;
    padding: 1em;
    outline: none;
    font: inherit;
    margin-top: 2rem;
}

.search-number-of-results {
    display: flex;
    margin-top: 1em;
}